<app-banner></app-banner>
<div class="header-text">
  <h1>The perfect package students</h1>
  <h4>you can add or change the products</h4>
</div>
<div class="list-container">
  <div *ngFor="let product of productsList; let i=index; let last=last" class="item">
    <app-item *ngIf="!last" [item]="product" (onDeleteProduct)="deleteProduct($event, i)"></app-item>
    <div *ngIf="last">
      <app-item [item]="product" (onDeleteProduct)="deleteProduct($event, i)"></app-item>
    </div>
  </div>
  <app-item  class="item" [last]="true" (onAddProduct)="addNew()"></app-item>


</div>
<app-checkout [itemCount]="getProductsCount()" [totalPerMonth]="getProductsValue()"></app-checkout>

