.list-container {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: flex-end;

  .item {
    width: 18%;
    margin: 12px;
  }
}

.header-text {
  text-align: right;
  margin: 20px;

  h1 {
    font-weight: bold;
    margin: 5px;
  }

  h4 {
    margin: 0;
    color: grey;
  }
}
