.item-container {
  border: 1px solid grey;
  border-radius: 10px;
  height: 300px;

  img.main {
    width: 80%;
    margin: 10px 10%;
  }

  .text {
    text-align: center;
    color: #A1A3BD;
  }

  .bottom-text {
    color: #A1A3BD;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 10px;
  }

  .add-button {
    button {
      width: 100%;
      border: transparent;
      border-radius: 10px;
      height: 300px;
      background: transparent;

      .text {
        margin-top: 30px;
        color: #A1A3BD;
        font-weight: bold;
        font-size: 20px;
      }
    }
  }
}
