<div class="item-container">
  <ng-template #product>
  <img class="main" src="assets/images/{{item?.image}}.svg">
    <div class="text">{{item?.name}}</div>
    <hr>
    <div class="bottom-text">
    Change Product
    <img src="assets/images/trash.svg" (click)="deleteProduct(item?.id)">
  </div>
  </ng-template>
  <div *ngIf="last; else product" class="add-button">
    <button (click)="onAddNew()">
      <img src="assets/images/plus.svg">
      <div class="text">Add <br> Product</div>
    </button>
  </div>
</div>
