<div class="checkout-container">
  <button class="checkout-button" routerLink="/checkout">< Checkout</button>
  <div class="checkout-information">
    Total ${{totalPerMonth}} per month - {{itemCount}} Products
  </div>
</div>
