.checkout-container {
  display: flex;
  background: #F7F7FC;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;

  .checkout-button {
    background: #FDCE4A;
    font-weight: bold;
    color: black;
    width: 300px;
    height: 40px;
    margin: 5px 10px;
    border: transparent;
    border-radius: 5px;
    float: left;
  }

  .checkout-information {
    font-weight: bold;
    color: grey;
    float: right;

  }
}
